<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{%  static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/ae26004fd6.js"></script>
</head>
<body>

{% include 'basecamp/navbar.html' %}


<div class="container">

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8" id="main-div">
                {% block content %}
                {% endblock %}
            </div>
            {% include 'basecamp/sidebar.html' %}

            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
</div>

<script>
    function search_post(){
        var search_value = document.getElementById('search-input').value;
        location.href = "/blog/search/" + search_value + "/";
    }

    function wait_for_enterkey(){
        if(window.event.keyCode == 13){
            search_post();
        }
    }
</script>
<script src="{% static 'blog/_assets/js/jquey.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>
</body>
</html>