{% extends 'blog/base.html' %}
{% block title %}{{ object.title }} - Blog{% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>
    {% if object.category %}
        <span class="badge badge-primary float-right">{{ object.category }}</span>
    {% else %}
        <span class="badge badge-primary float-right">미분류</span>
    {% endif %}

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ object.author.username }}</a>
    </p>

    {% if request.user == object.author %}
        <button type="button" class="btn btn-sm btn-outline-secondary float-right">EDIT</button>
    {% endif %}

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ object.created }}</p>
    <hr>

    <!-- Preview Image -->
    {% if object.head_Image %}
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
    {% endif %}

    <div>
        {{ object.content }}
        <br/>
        {% for tag in object.tags.all %}
            <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
        {% endfor %}
    </div>
{% endblock %}