{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="my-3">About me</h1>
                <h3 class="my-3">학력</h3>
                <h6 class="my-3">2019년 2월</h6>
                <h6 class="my-3">서울시립대 컴퓨터과학부 졸업</h6>
                <h3 class="my-3">기술스택</h3>
                <h6 class="my-3">C++, Python</h6>
                <h6 class="my-3">OpenCV, 머신러닝, 딥러닝</h6>
                <h6 class="my-3">깃, 클라우드(AWS), 데이터베이스(Oracle)</h6>
                <h3 class="my-3">희망분야</h3>
                <h6 class="my-3">컴퓨터비전 소프트웨어 개발</h6>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="{% static 'basecamp/images/main.jpg' %}"/>
            </div>
        </div>
        <div class="row">

            <div class="col-md">
                <h1 class="my-3">Contact me</h1>
                <h5>E-mail: <small>wnsspdl@naver.com</small></h5>
            </div>
        </div>
    </div>
{% endblock %}